<a href="https://colab.research.google.com/github/IrfanKhalid/ForexExchangePrediction/blob/master/ForexExchange.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns; sns.set(style="ticks", color_codes=True)
import os
#import plotly as plt
import matplotlib.gridspec as gridspec
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier , GradientBoostingClassifier
from sklearn.tree import DecisionTreeClassifier
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import cross_val_score
from sklearn import svm

from sklearn.metrics import mean_squared_error
from math import sqrt

import warnings
warnings.filterwarnings("ignore")

In [4]:
from google.colab import drive
drive.mount('/content/drive')

Go to this URL in a browser: https://accounts.google.com/o/oauth2/auth?client_id=947318989803-6bn6qk8qdgf4n4g3pfee6491hc0brc4i.apps.googleusercontent.com&redirect_uri=urn%3Aietf%3Awg%3Aoauth%3A2.0%3Aoob&scope=email%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fdocs.test%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fdrive%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fdrive.photos.readonly%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fpeopleapi.readonly&response_type=code

Enter your authorization code:
··········
Mounted at /content/drive

In [3]:
!ls drive/'My Drive'

ls: cannot access 'drive/My Drive': No such file or directory

In [0]:
Forex=pd.read_csv("drive/My Drive/EURAUDtesttrain.csv")

In [0]:
Forex.head()

,Unnamed: 0,Unnamed: 1,open,high,low,close,volume,currentopen,currentclose(predict)
0,2011.01.06,0:00,1.32314,1.32704,1.31389,1.31534,102111,1.31546,1.30712
1,2011.01.07,0:00,1.31546,1.32001,1.30526,1.30712,97063,1.30703,1.29572
2,2011.01.10,0:00,1.30703,1.31025,1.29421,1.29572,98097,1.29611,1.30290
3,2011.01.11,0:00,1.29611,1.30641,1.29289,1.30290,92289,1.30275,1.32097
4,2011.01.12,0:00,1.30275,1.32193,1.30220,1.32097,101262,1.32081,1.31807

In [0]:
Forex.shape
Forex.describe()

,open,high,low,close,volume,currentopen,currentclose(predict)
count,2047.000000,2047.000000,2047.000000,2047.000000,2047.000000,2047.000000,2047.000000
mean,1.429936,1.436889,1.423761,1.430035,93945.778212,1.430057,1.430158
std,0.110089,0.110802,0.109472,0.110087,30527.663694,0.110108,0.110099
min,1.162730,1.168950,1.160340,1.161480,15163.000000,1.162730,1.161480
25%,1.353195,1.360275,1.347660,1.353795,72793.000000,1.353445,1.354170
50%,1.446390,1.453560,1.440210,1.447330,93096.000000,1.447260,1.447360
75%,1.509450,1.517665,1.502610,1.509550,110574.000000,1.509645,1.509745
max,1.631960,1.659080,1.627990,1.633450,292619.000000,1.631960,1.633450

In [6]:
#train['Age'].apply(lambda x: meanMaleAge if x=0  )
#Forex.drop(['Predict'],axis=1)
Forex['Prdeict']=Forex['currentclose(predict)']-Forex['currentopen']
Forex['Prdeict']=Forex['Prdeict'].apply(lambda x: 1 if x > 0 else 0)
Forex.head()

,Unnamed: 0,Unnamed: 1,open,high,low,close,volume,currentopen,currentclose(predict),Prdeict
0,2011.01.06,0:00,1.32314,1.32704,1.31389,1.31534,102111,1.31546,1.30712,0
1,2011.01.07,0:00,1.31546,1.32001,1.30526,1.30712,97063,1.30703,1.29572,0
2,2011.01.10,0:00,1.30703,1.31025,1.29421,1.29572,98097,1.29611,1.30290,1
3,2011.01.11,0:00,1.29611,1.30641,1.29289,1.30290,92289,1.30275,1.32097,1
4,2011.01.12,0:00,1.30275,1.32193,1.30220,1.32097,101262,1.32081,1.31807,0

In [0]:


Forex=Forex.drop(['opena1','opena2','opena3'], axis=1)

ValueError: ignored

In [0]:
Forex.open=(Forex.open*100000).astype(int)
Forex.close=(Forex.close*100000).astype(int)
Forex.high=(Forex.high*100000).astype(int)
Forex.low=(Forex.low*100000).astype(int)
Forex.currentopen=(Forex.currentopen*100000).astype(int)
Forex['currentclose(predict)']=(Forex['currentclose(predict)'] *100000).astype(int)
Forex.head()

,Unnamed: 0,Unnamed: 1,open,high,low,close,volume,currentopen,currentclose(predict)
0,2011.01.06,0:00,132314,132704,131389,131534,102111,131546,130712
1,2011.01.07,0:00,131546,132001,130526,130712,97063,130702,129572
2,2011.01.10,0:00,130702,131024,129421,129572,98097,129611,130290
3,2011.01.11,0:00,129611,130641,129288,130290,92289,130275,132097
4,2011.01.12,0:00,130275,132192,130220,132097,101262,132081,131807

In [0]:

plt.plot(Forex.High)

In [0]:
TrainData = train.drop(['Survived', 'PassengerId','Cabin','Fare','Name','Age','Ticket'], axis=1)
SurvivedLabel = train["Survived"]
X_train, X_test,Y_train, Y_test = train_test_split(TrainData, SurvivedLabel, test_size = 0.20, random_state = 0)
print (train.shape , X_train.shape , X_test.shape , Y_train.shape , Y_test.shape )

In [7]:
ForexTrain=Forex[['open','high','close','low',  'currentopen', 'volume']] #,
ForexTest=Forex['Prdeict']
X_train, X_test,Y_train, Y_test = train_test_split(ForexTrain, ForexTest, test_size = 0.40, random_state = 0)
print (ForexTrain.shape , X_train.shape , X_test.shape , Y_train.shape , Y_test.shape )

(2047, 6) (1228, 6) (819, 6) (1228,) (819,)

In [0]:
Y_train.head()

82      1.35459
1616    1.40340
1239    1.55347
1480    1.47540
326     1.26892
Name: currentclose(predict), dtype: float64

In [0]:
X_test.head()

         open     high    close      low  volume
1145  1.44744  1.47107  1.46122  1.44680  142821
386   1.23647  1.24154  1.23835  1.23252   83557
1451  1.44881  1.45362  1.44840  1.44435   83312
721   1.43804  1.43819  1.42879  1.42709   45468
1476  1.48468  1.50882  1.50298  1.48433   92732

In [34]:
Model = RandomForestClassifier(n_estimators=100,criterion='gini', max_depth=10,max_leaf_nodes =80,min_samples_split=2)
Model.fit( X_train , Y_train )

RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
            max_depth=10, max_features='auto', max_leaf_nodes=80,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, n_estimators=100, n_jobs=1,
            oob_score=False, random_state=None, verbose=0,
            warm_start=False)

In [35]:
YPredict=Model.predict(X_test)
rms = sqrt(mean_squared_error(Y_test, YPredict))
print(rms)
print (Model.score( X_train , Y_train ) , Model.score( X_test , Y_test ))

0.7144078039736901
0.9014657980456026 0.4896214896214896

In [0]:
from sklearn.model_selection import cross_val_score
from sklearn.tree import DecisionTreeClassifier


DecisionTree = RandomForestClassifier(random_state=0)
DecisionTree.fit(X=X_train, y=Y_train)


DecisionTree.score(X=X_test, y=Y_test)

TypeError: ignored

In [0]:
#model = svm.SVC(gamma='scale', decision_function_shape='ovo')
#model.fit( X_train , Y_train )

In [28]:
#print (model.score( X_train , Y_train ) , model.score( X_test , Y_test ))
print (Model.score( X_train , Y_train ) , Model.score( X_test , Y_test ))

0.8737785016286646 0.4884004884004884